flows.json
[{"id":"ac21bc6.3788b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"afde0fb5.9de5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"13a11f28.e22691","type":"ui_group","z":"","name":"Breast Cancer Prediction Tool","tab":"914b809e.f63b3","order":1,"disp":true,"width":"6","collapse":false},{"id":"914b809e.f63b3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6e97468.506b88","type":"ui_form","z":"ac21bc6.3788b4","name":"","label":"Prediction: 0 means Cancer and 1 means Absence of Cancer ","group":"13a11f28.e22691","order":1,"width":"0","height":"0","options":[{"label":"Input Radius (6.98 – 28.1)","value":"mr","type":"number","required":true,"rows":null},{"label":"Input Texture (9.71 – 39.3)","value":"mt","type":"number","required":true,"rows":null},{"label":"Input Perimeter (43.8 – 189)","value":"mp","type":"number","required":true,"rows":null},{"label":"Input Area (144 – 2500)","value":"ma","type":"number","required":true,"rows":null},{"label":"Input Smoothness (0.05 – 0.16) ","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":700,"y":280,"wires":[["439822c9.31f35c","7c974514.503aec"]]},{"id":"439822c9.31f35c","type":"debug","z":"ac21bc6.3788b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":340,"wires":[]},{"id":"7c974514.503aec","type":"function","z":"ac21bc6.3788b4","name":"pre-token","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"uxYXB9RuHJw7VG-vn-mg0E3eoLwmPlJWCM2SkRL54DZU\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":220,"wires":[["474facf1.3a59b4"]]},{"id":"474facf1.3a59b4","type":"http request","z":"ac21bc6.3788b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1172.0000038146973,"y":264.00000286102295,"wires":[["f306fb91.c91818","c5d76a.18ee4898"]]},{"id":"f306fb91.c91818","type":"debug","z":"ac21bc6.3788b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":320,"wires":[]},{"id":"c5d76a.18ee4898","type":"function","z":"ac21bc6.3788b4","name":"Pre Prediction","func":"var mr = global.get(\"mr\")\nvar mt = global.get(\"mt\")\nvar mp = global.get(\"mp\")\nvar ma = global.get(\"ma\")\nvar ms = global.get(\"ms\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"]],\"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1364.0000076293945,"y":216.0000021457672,"wires":[["e19a7c24.d0b7f"]]},{"id":"e19a7c24.d0b7f","type":"http request","z":"ac21bc6.3788b4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/417bb628-03b2-4717-8773-8652335eed76/predictions?version=2020-10-19","tls":"","persist":false,"proxy":"","authType":"","x":1590,"y":240,"wires":[["1ce191fc.5fb2ae","a1850a3a.849f08"]]},{"id":"1ce191fc.5fb2ae","type":"debug","z":"ac21bc6.3788b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1770,"y":320,"wires":[]},{"id":"79d9db09.cab6f4","type":"inject","z":"ac21bc6.3788b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":160,"wires":[["7c974514.503aec"]]},{"id":"c54f9d41.2a7ac","type":"debug","z":"ac21bc6.3788b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1650,"y":40,"wires":[]},{"id":"a1850a3a.849f08","type":"function","z":"ac21bc6.3788b4","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":80,"wires":[["c54f9d41.2a7ac","3f74beb8.3cc242"]]},{"id":"3f74beb8.3cc242","type":"ui_text","z":"ac21bc6.3788b4","group":"13a11f28.e22691","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1640,"y":120,"wires":[]}]